<header class="d-flex justify-content-between bg-white sticky-top py-3">
  <div style="margin-left: 125px">
    <h1 class="text-uppercase fw-bold fs-4 m-0">Nova admissão cooperado</h1>
    <span class="fs-7"
      >Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado</span
    >
  </div>

  <div class="d-flex align-items-center">
    <div class="d-flex align-items-center">
      <a href="javascript:void(0)" class="me-3">
        <i class="bi bi-bell fs-4"></i>
      </a>
      <button type="button" class="btn btn-outline-primary rounded-50 me-3">
        VIACREDI
      </button>
    </div>

    <div class="text-end" ngbDropdown>
      <a
        href="javascript:void(0)"
        class="d-block link-dark text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        ngbDropdownToggle
      >
        <img
          src="https://github.com/mdo.png"
          alt="mdo"
          width="42"
          height="42"
          class="rounded-circle"
        />
      </a>
      <ul class="text-small" ngbDropdownMenu>
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
</header>
