<app-header></app-header>

<div class="container px-3">
  <div class="row">
    <app-side-menu></app-side-menu>

    <main>
      <div class="wizard"></div>

      <div class="row">
        <div class="col-sm-8">
          <div class="py-2 mt-4">
            <h2 class="fs-5">Informe o CPF do futuro cooperado (a)</h2>
            <p class="fs-7 mb-0">
              Se necessário, você poderá duplicar uma conta existente ou pausar
              e retomar este cadastro futuramente.
            </p>
            <p class="fs-7">Digite apenas os números (sem pontos ou traços).</p>
          </div>

          <form #form="ngForm" (ngSubmit)="submit(form)">
            <div class="row mb-4">
              <div class="col-sm-6">
                <label for="">CPF:</label>
                <input
                  type="tel"
                  mask="000.000.000-00"
                  class="form-control rounded-small"
                  [(ngModel)]="termo"
                  name="cpf"
                />
              </div>
              <div class="col-sm-6">
                <button
                  type="submit"
                  class="btn btn-primary rounded-small mt-4"
                >
                  Consultar por CPF
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="row" *ngIf="cooperado.cpf">
          <div class="col-sm-4">
            <div class="card p-3">
              <div>
                <h2 class="fs-6 mb-0">Situação cadastral do CPF</h2>
                <p class="fs-7">Consulta na Receita Federal</p>
              </div>

              <div class="d-flex align-items-center mb-2">
                <i class="bi bi-person-fill fs-4 me-2 text-secondary"></i>
                <div>
                  <small>Nome</small><br />
                  <strong>{{ cooperado.nome }}</strong>
                </div>
              </div>

              <div class="d-flex">
                <i
                  class="bi bi-check-circle text-success me-2 fs-4"
                  *ngIf="cooperado.situacao == 'regular'"
                ></i>
                <i
                  *ngIf="cooperado.situacao == 'irregular'"
                  class="bi bi-exclamation-diamond text-warning me-2 fs-4"
                ></i>
                <div>
                  <p class="fs-7 mb-0">Situação do CPF</p>
                  <strong>{{ cooperado.situacao }}</strong>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4" *ngFor="let item of cooperado?.contas">
            <div class="card p-3">
              <div>
                <h2 class="fs-6 mb-0">{{ item.title }}</h2>
                <p class="fs-7">Cooperativa viacredi</p>
              </div>

              <div class="d-flex align-items-center mb-2">
                <i class="bi bi-credit-card fs-4 me-2 text-secondary"></i>
                <div>
                  <small>Número da conta</small><br />
                  <strong>{{ item.conta }}</strong>
                </div>
              </div>

              <div class="d-flex">
                <button class="btn btn-link">Duplicar conta</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<footer class="position-fixed bottom-0 bg-white py-3 w-100">
  <div class="container">
    <button class="btn btn-primary rounded-small mx-1">
      Iniciar nova admissão
    </button>
    <button class="btn btn-outline-primary rounded-small mx-1">
      Discar para abertura da conta
    </button>
  </div>
</footer>
