<nav class="d-md-block bg-primary sidebar">
  <div class="position-sticky sidebar-sticky">
    <div class="text-center py-3" style="width: 100px">
      <img src="assets/logo.png" width="60" height="60" />
    </div>

    <ul class="nav flex-column mt-3">
      <li class="nav-item text-center">
        <a
          class="nav-link active"
          aria-current="page"
          href="javascript:void(0)"
        >
          <i class="bi bi-list fs-4"></i>
        </a>
      </li>
      <li class="nav-item text-center">
        <a
          class="nav-link text-white"
          aria-current="page"
          href="javascript:void(0)"
        >
          <i class="bi bi-search fs-5"></i>
        </a>
      </li>
      <li class="nav-item text-center">
        <a
          class="nav-link text-white"
          aria-current="page"
          href="javascript:void(0)"
        >
          <i class="bi bi-start fs-5"></i>
        </a>
      </li>
      <li class="nav-item text-center">
        <a
          class="nav-link text-white"
          aria-current="page"
          href="javascript:void(0)"
        >
          <i class="bi bi-chat-left-dots fs-5"></i>
        </a>
      </li>

      <li class="nav-item text-center">
        <a
          class="nav-link text-white"
          aria-current="page"
          href="javascript:void(0)"
        >
          <i class="bi bi-sliders fs-5"></i>
        </a>
      </li>

      <li class="nav-item text-center">
        <a
          class="nav-link text-white"
          aria-current="page"
          href="javascript:void(0)"
        >
          <i class="bi bi-bank fs-5"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
